starfilereader/src/test/resources/FIMSStatusInbound.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Mark Fearon (OAG Worldwide Limited) -->
<!-- edited with XML Spy v4.1 U (http://www.xmlspy.com) by Matt Waterton (OAG WORLWIDE LTD) -->
<!--W3C Schema generated by XML Spy v4.1 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="Airborne">
		<xs:annotation>
			<xs:documentation>Airbourne date/time</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Est" type="xs:dateTime" use="optional"/>
			<xs:attribute name="Act" type="xs:dateTime" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Arr">
		<xs:annotation>
			<xs:documentation>Arrival information group</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Trm" minOccurs="0"/>
				<xs:element ref="Gate" minOccurs="0"/>
				<xs:element ref="Claim" minOccurs="0"/>
				<xs:element ref="DateTime" minOccurs="0"/>
				<xs:element ref="Down" minOccurs="0"/>
				<xs:element ref="OnBlock" minOccurs="0"/>
				<xs:element ref="Delay" minOccurs="0"/>
				<xs:element ref="Divert" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="Apt" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="3"/>
						<xs:maxLength value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="CheckIn">
		<xs:annotation>
			<xs:documentation>Check-in desk</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Act" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Claim">
		<xs:annotation>
			<xs:documentation>Baggage claim</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Act" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="DateTime">
		<xs:annotation>
			<xs:documentation>Dep/arr date/time</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Est" type="xs:dateTime" use="optional"/>
			<xs:attribute name="Act" type="xs:dateTime" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Delay">
		<xs:annotation>
			<xs:documentation>Delay code information</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Stat" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="2"/>
						<xs:maxLength value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Det" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="2"/>
						<xs:maxLength value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="RsnCode" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="2"/>
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Dep">
		<xs:annotation>
			<xs:documentation>Departure information group</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Trm" minOccurs="0"/>
				<xs:element ref="CheckIn" minOccurs="0"/>
				<xs:element ref="Gate" minOccurs="0"/>
				<xs:element ref="DateTime" minOccurs="0"/>
				<xs:element ref="OffBlock" minOccurs="0"/>
				<xs:element ref="Airborne" minOccurs="0"/>
				<xs:element ref="Delay" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="Apt" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="3"/>
						<xs:maxLength value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="SchdDate" type="xs:dateTime" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Divert">
		<xs:annotation>
			<xs:documentation>Diversion information</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Apt" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="3"/>
						<xs:maxLength value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Down">
		<xs:annotation>
			<xs:documentation>Down date/time</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Act" type="xs:dateTime" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Equip">
		<xs:annotation>
			<xs:documentation>Equipment information</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Reg" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="Act" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="3"/>
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="FIMSStatusInbound">
		<xs:annotation>
			<xs:documentation>Root</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Flight" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="ProfileId" type="xs:int" use="required"/>
			<xs:attribute name="OrgId" type="xs:int" use="required"/>
			<xs:attribute name="Sent" type="xs:dateTime" use="required"/>
			<xs:attribute name="LastUpdTran" type="xs:int" use="optional"/>
			<xs:attribute name="LastUpdTime" type="xs:dateTime" use="required"/>
			<xs:attribute name="UTCLOCInd" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="3"/>
						<xs:maxLength value="3"/>
						<xs:enumeration value="UTC"/>
						<xs:enumeration value="LOC"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Flight">
		<xs:annotation>
			<xs:documentation>Flight group</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Leg" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="TransId" type="xs:int" use="required"/>
			<xs:attribute name="UpdateType" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="3"/>
						<xs:maxLength value="3"/>
						<xs:enumeration value="UPD"/>
						<xs:enumeration value="CAN"/>
						<xs:enumeration value="RIN"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Carrier" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="2"/>
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="FltNo" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="SchdDate" type="xs:dateTime" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Gate">
		<xs:annotation>
			<xs:documentation>Arrival gate</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Act" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Leg">
		<xs:annotation>
			<xs:documentation>Flight leg group</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Equip" minOccurs="0"/>
				<xs:element ref="Dep"/>
				<xs:element ref="Arr"/>
			</xs:sequence>
			<xs:attribute name="UpdateType">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="3"/>
						<xs:maxLength value="3"/>
						<xs:enumeration value="UPD"/>
						<xs:enumeration value="CAN"/>
						<xs:enumeration value="RIN"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="OffBlock">
		<xs:annotation>
			<xs:documentation>Offblock date/time</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Act" type="xs:dateTime" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="OnBlock">
		<xs:annotation>
			<xs:documentation>Onblock date/time</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Est" type="xs:dateTime" use="optional"/>
			<xs:attribute name="Act" type="xs:dateTime" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Reg">
		<xs:annotation>
			<xs:documentation>Aircraft registration code</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Act" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="2"/>
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Trm">
		<xs:annotation>
			<xs:documentation>Terminal</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Act" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
